# multiple_in_out_params_sample.h
one_in_two_out_params_no_return_function
one_in_two_out_params_int_return_function
one_in_two_out_params_unsigned_int_return_function
one_in_two_out_params_float_return_function
one_in_two_out_params_double_return_function
one_in_two_out_params_bool_return_function
two_in_two_out_params_no_return_function
two_in_two_out_params_int_return_function
two_in_two_out_params_unsigned_int_return_function
two_in_two_out_params_float_return_function
two_in_two_out_params_double_return_function
two_in_two_out_params_bool_return_function
two_in_three_out_params_no_return_function
two_in_three_out_params_int_return_function
two_in_three_out_params_unsigned_int_return_function
two_in_three_out_params_float_return_function
two_in_three_out_params_double_return_function
two_in_three_out_params_bool_return_function
three_in_three_out_params_no_return_function
three_in_three_out_params_int_return_function
three_in_three_out_params_unsigned_int_return_function
noR:three_in_three_out_params_float_return_function
noR:three_in_three_out_params_double_return_function
noR:three_in_three_out_params_bool_return_function

# no_params_sample.h
no_params_no_return_function
no_params_int_return_function
no_params_unsigned_int_return_function
no_params_float_return_function
no_params_double_return_function
noR:no_params_bool_return_function

# one_in_one_out_param_sample.h
one_in_one_out_param_no_return_function
one_in_one_out_param_int_return_function
one_in_one_out_param_unsigned_int_return_function
one_in_one_out_param_float_return_function
one_in_one_out_param_double_return_function
noR:one_in_one_out_param_bool_return_function

# only_in_params_sample.h
one_in_param_no_return_function
one_in_param_int_return_function
one_in_param_unsigned_int_return_function
one_in_param_float_return_function
one_in_param_double_return_function
noR:one_in_param_bool_return_function

# only_out_params_sample.h
one_out_param_no_return_function
one_out_param_int_return_function
one_out_param_unsigned_int_return_function
one_out_param_float_return_function
one_out_param_double_return_function
noR:one_out_param_bool_return_function
