# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  compile-generatoed-ubuntu:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    needs: [build-c-ubuntu]

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2.3.0
        with:
          # Version range or exact version of a Python version to use, using SemVer's version range syntax.
          python-version: 3.9

      - name: Install python requirements
        run: pip install -r requirements.txt

      - name: Run doctests
        run: python -m doctest -v scripts/header_parser.py

      - name: Run wrapper generator
        run: python scripts/header_parser.py C_samples/*.h -vv
     
      - name: Setup R
        run: sudo apt-get install -y r-base-core
        
      - name: Build package
        run: |
          cp C_samples/*.c out/src/
          mkdir C_samples/include
          cp C_samples/*.h out/include/
          PKG_CFLAGS='-Iout/include' R CMD SHLIB -o library.so out/src/*.c
          
      #- name: Test package
      #  run: |
      #    R BATCH 'dyn.load("library.so")'
         
  build-c-ubuntu:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.11
        with:
          cmake-version: '3.21.x'
      - name: Use cmake
        run: cmake --version
      
      - name: Run compilation generation
        run: |
         cmake -S ./C_samples -B ./C_samples/build
         
      - name: Run build
        run: |
         cmake --build C_samples/build

      - name: Run tests
        run: |
         ./C_samples/build/C_samples

  build-c-windows:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.11
        with:
          cmake-version: '3.21.x'
      - name: Use cmake
        run: cmake --version
        
      - name: Run compilation generation
        run: |
         cmake -S C_samples -B C_samples/build
         
      - name: Run build
        run: |
         cmake --build C_samples/build

      - name: Run tests
        run: |
         C_samples/build/Debug/C_samples.exe
