# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          # Version range or exact version of a Python version to use, using SemVer's version range syntax.
          python-version: 3.9

      - name: Install python requirements
        run: pip install -r requirements.txt

      - name: Run doctests
        run: |
         python -m doctest -v scripts/header_parser.py

      - name: Test prototype generator
        run: |
         python scripts/header_parser.py C_samples/*.h
         test -e out/R/multiple_in_out_params_sample.R
         test -e out/R/one_in_one_out_param_sample.R
         test -e out/R/only_out_params_sample.R
         test -e out/R/no_params_sample.R
         test -e out/R/only_in_params_sample.R
         test -e out/R/tables_params_sample.R
         test -e out/src/init.c
         test -e out/src/no_params_sample_wrappers.c
         test -e out/src/only_in_params_sample_wrappers.c
         test -e out/src/tables_params_sample_wrappers.c

  build-c-ubuntu:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.11
        with:
          cmake-version: '3.21.x'
      - name: Use cmake
        run: cmake --version
      
      - name: Run compilation generation
        run: |
         cmake -S ./C_samples -B ./C_samples/build
         
      - name: Run build
        run: |
         cmake --build C_samples/build

      - name: Run tests
        run: |
         ./C_samples/build/C_samples

  build-c-windows:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v1.11
        with:
          cmake-version: '3.21.x'
      - name: Use cmake
        run: cmake --version
        
      - name: Run compilation generation
        run: |
         cmake -S C_samples -B C_samples/build
         
      - name: Run build
        run: |
         cmake --build C_samples/build

      - name: Run tests
        run: |
         C_samples/build/Debug/C_samples.exe
